.container {
    margin-top: 50px;
    width: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    margin: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
    padding: 8px;
    border: 1px solid black;
    position: sticky;

}

#contain1 {
    display: flex;
    justify-content: center;
}

ul {
    justify-content: center;
}

.table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}